// Colour palette
$orange: #e22e2e;
$brown: #47210c;
$yellow: #ffb400;

// Primary colour
$primary: $orange;

// Seconday colour
$secondary: brown;

// Links
$link-color: $orange;
$link-decoration: none;
